<h1>Settings</h1>
<h4>Use the following selections to choose desired app and device preferences</h4>

<div>
    <label><strong>Notification and Reminder Location:</strong></label>
    <p-listbox [options]= "notifilocations_list" [(ngModel)]= "selectednotiflocation" optionLabel="name"></p-listbox>
</div>

<div>
    <label><strong>Missed Dose Notification:</strong></label>
    <p-listbox [options]= "missed_dose_option" [(ngModel)]= "selectedmissed_dose_option" optionLabel="name"></p-listbox>
</div>

<div>
    <label><strong>Time between Missed Dose and Notification:</strong></label>
    <p-listbox [options]= "timefornotification" [(ngModel)]= "selectedtimefornotification" optionLabel="name"></p-listbox>
</div>

<button pButton pRipple (onClick)="onSave()" label = "Save" type = "button"></button>
