.body{
    background-color:#F5F5F5;
}

.notif-location-missed-notif-div{
    width:70%;
    margin-bottom:2%;
}

.notif-location{
    display:inline-block;
    margin-right:10%;
}

.missed-notif{
    display:inline-block;
}

.dropdown-label{
    font-family:Arial, Helvetica, sans-serif;
    margin-right:1%;
}

.missed-notif-time-div{
    width:70%;
    align-content:left;
}

.save-btn-div{
    width: 50%; 
    text-align:right;
}

.save-btn{
    padding: 1%;
    width: 10%; 
    margin-right:2%;
}