<body>
<h2 style="font-family:Arial, Helvetica, sans-serif">Settings</h2>
<h4 style="font-family:Arial, Helvetica, sans-serif">Use the following selections to choose desired app and device preferences</h4>

<div class="notif-location-missed-notif-div">
    <div class="notif-location">
        <div class="checkbox-list">
            <label class="dropdown-label"><strong>Notification and Reminder Location:</strong></label>
            <div *ngFor="let option of optionList">
                <label  style="padding-top:1.5%; font-family: Arial, Helvetica, sans-serif">
                    <input type="checkbox" [value]="option.id" (click)="onCheckboxClick($event)"/>
                    {{option.name}}
                </label>
            </div>
        </div>
        <div class="Emailtxt" style="padding:1%;">
            <label style="font-family: Arial, Helvetica, sans-serif; padding-right:1%;">Email:</label>
            <input id="NotifEmail" type="text" pInputText [disabled]="false" [(ngModel)]="notifemail"/>
        </div>
        <div class="Textmsgtxt" style="padding:1%;">
            <label style="font-family: Arial, Helvetica, sans-serif; padding-right: 1%;">Text Number:</label>
            <input id="Notifphone" type="text" pInputText [disabled]="false" [(ngModel)]="notifphone"/>
        </div>
    </div>
    
    <div class="missed-notif">
        <label class="dropdown-label"><strong>Missed Dose Notification:</strong></label>
        <p-dropdown [options]= "missed_dose_option" [(ngModel)]= "selectedmissed_dose_option" optionLabel="name"></p-dropdown>
    </div>
</div>

<div class="missed-notif-time-div">
    <label class="dropdown-label"><strong>Time between Missed Dose and Notification:</strong></label>
    <br>
    <p-dropdown [options]= "timefornotification" [(ngModel)]= "selectedtimefornotification" optionLabel="name"></p-dropdown>
</div>

<div class="save-btn-div">
    <label style="font-family: Arial, Helvetica, sans-serif; padding-right: 1%;" *ngIf="this.SuccessVisible">Success</label>
    <button pButton pRipple (click)="onSave()" label = "Save" type = "button"></button>
</div>

</body>