body{
    background-color:lightseagreen;
}

.sign-in-div{
    margin: auto;
    width: 60%;
    border: 1px solid #a7a8c4;
    padding: 5px;
    background-color: white;
}

.sign-in-title{
    text-align: center;
}

input [type="text"]{
    margin:auto;
}

.password-input{
    align-items: center;
}
