<div *ngIf="this.isSigninVisible">
<h1>Sign In</h1>
<!--<p-image src={{imgname}} alt="">
    <ng-template pTemplate="indicator">
        Indicator Content
    </ng-template>
</p-image>-->
<input id="disabled-input" type="text" pInputText [disabled]="false"  [(ngModel)]="username"/>

<p-password [(ngModel)]="password" [feedback]="false" [toggleMask]="true"></p-password>

<button pButton pRipple type="button" label="Sign In" (click)="onUserSignIn" routerLink="home"></button>
<button pButton pRipple type="button" label="Create Account" class="p-button-secondary"></button>
</div>
