<body>
<h2 style="font-family:Arial, Helvetica, sans-serif">Add or Edit Medications</h2>
<h4 style="font-family:Arial, Helvetica, sans-serif">Select a medication from the list to edit or add a new medication by added to the list</h4>

<div class="med-list-and-freq-div">
    <div class="med-list">
        <label class="dropdown-label"><strong>Medication List:</strong></label>

        <p-listbox [options]="this.medication_list" [(ngModel)]="selectedCity" optionLabel="name" [style]="{'width':'15rem','margin-bottom':'2em'}" (onClick)="onSelect($event)"></p-listbox>

        <input id="AddMedicine" type="text" pInputText [disabled]="false" [(ngModel)]="addmedicine" placeholder="New Medicine"/>
    </div>

    <div class="med-freq">
        <label class="dropdown-label"><strong>Frequency of Dosage:</strong></label>
        <p-dropdown [options]= "dosefreq_list" [(ngModel)]= "selected_dosefreq" optionLabel="frequency"></p-dropdown>
    </div>

    <div class="med-per-dose">
        <label class="dropdown-label"><strong>Amount of Medication Per Dose:</strong></label>
        <p-dropdown [options]= "med_per_dose_list" [(ngModel)]= "selected_medperdose" optionLabel="amount"></p-dropdown>
    </div>
</div>

<div class="time-list-and-cabinetid-div">
    <div class="dispense-time">
        <label class="dropdown-label"><strong>Dispense Time(s) (eg. 10:30AM):</strong></label>
        <br>
        <div class="dispense-time-input">
            <input id="dispense1" type = "text" pInputText [disabled]="false" [(ngModel)]="dispense1"/>
        </div>
        <br>
        <div class="dispense-time-input">
            <input id="dispense2" type="text" pInputText [disabled]="false" [(ngModel)]="dispense2"/>
        </div>
        <br>
        <div class="dispense-time-input">
            <input id="dispense3" type="text" pInputText [disabled]="false" [(ngModel)]="dispense3"/>
        </div>
    </div>

    <div class="cabinet-id">
        <label class="dropdown-label"><strong>Cabinet ID (in Machine):</strong></label>
        <input id="cabinet-id" type="text" pInputText [disabled]="false"  [(ngModel)]="cabinetid"/>
    </div>

    <div class="pills-added" padding="1.2%">
        <label class="dropdown-label"><strong>Number of Pills Added:</strong></label>
        <input id="pills-added" type="text" pInputText [disabled]="false" [(ngModel)]="pillsAdded"/>
    </div>
</div>

<div class="btn-div">
<label style="font-family: Arial, Helvetica, sans-serif; padding-right: 1%;" *ngIf="this.SaveSuccess">Successful Save</label>
<label style="font-family: Arial, Helvetica, sans-serif; padding-right: 1%;" *ngIf="this.AddSuccess">Successful Add</label>
<label style="font-family: Arial, Helvetica, sans-serif; padding-right: 1%;" *ngIf="this.RemoveSuccess">Successful Remove</label>
<label style="font-family: Arial, Helvetica, sans-serif; padding-right: 1%; color:red" *ngIf="this.AddError">Medication Limit of 3</label>
<button pButton pRipple type="button" label="Save" (click)="saveMedication()"></button>
<button pButton pRipple type="button" label="Add" (click)="addMedication()"></button>
<button class="p-button-secondary" pButton pRipple type="button" label="Remove" (click)="removeMedication()"></button>
</div>
</body>