.logo-title-div{
    text-align:left;
    width:100%;
}

.logo-img{
    display:inline-block;
    justify-content: left;
}

.sign-in-title{
    display:inline-block;
    justify-content:center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:1%;
}