<div class="title-subtitle-div">
    <h2>Welcome to RxMind!</h2>
    <p>To begin, select a medication from the list</p>
</div>
<p-toast position="top-right"></p-toast>

<!---Add the same list that is implemented in the Edit page for medications-->
<div class="meds-list-calendar">
    <div class="med-list">
        <label><strong>Medication List:</strong></label>
        <p-listbox [options]="this.medication_list"  optionLabel="name"  [style]="{'width':'15rem'}" (onClick)="onSelect($event)"></p-listbox>
    </div>
    <div class="med-calendar">
        <p-calendar [showWeek]="true" [inline]="true" [(ngModel)]="calendarvalue" (click)="onSelectDate(calendarvalue)"></p-calendar>
    </div>
</div>  

<div class="calendar-info-div">
    <label style="font-family:Arial, Helvetica, sans-serif; color:red; justify-content:center;" *ngIf="this.mednotselected">Please select a medication before a calendar date</label>  
    <label name="medtaken" *ngIf="Iscalendarmedtakenvisible">Medication Taken: {{calendarmedtaken}} | </label>
    <label name="timemedtaken" *ngIf="Iscalendartimetakenvisible">Time Medication Taken: {{calendartimetaken}}</label>
</div>

<!---Adding the slider element to show the amount of medication left when selected from the list -->
<div class="refill-div">
    <h3 class="med-left-lbl">Number of Pills Left: {{medleft}}</h3>
    <div class="med-left-bar">
        <p-progressBar  [value]="medprogressnum" [showValue]='false'></p-progressBar>
    </div>
</div>

<p-messages [(value)]="msgs1" [enableService]="false" [style]="{'width':'30em'}" ></p-messages>